.search {
    input {
        outline: none;
    }
        position: relative;
    .input-group-form{
        background-color: white;
        margin: 6px;
        height: 34px;
        border-radius: 20px;
    }
    .search-result-container-wrapper {
        
        z-index: 1;
        .search-result-container {
            padding: 10px 0;
            border-radius: 10px;
            max-height: 80vh;
            background-color: #fff;
            // height: 400px;
            min-width: 240px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            overflow-y: scroll;
            .search-result-item:not(:last-child){
                border-bottom: 1px solid #f1f1f1;
            }
            .search-result-item {
                
                &:hover {
                    background-color: rgba(0, 0, 0, 0.05);
                }
                padding: 10px;
                background-color: #fff;
                a {
                    display: flex;
                    align-items: center;
                }
                div {
                    -webkit-box-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                    margin: 0 8px;
                }
                img {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    border-radius: 99px;
                }
            }
        }
    }
}
.loading {
    animation: spinner 0.8s linear infinite;

}
.search-submit-btn,.search-type-right{
    padding: 0 12px;
    height: 100%;
    button{
        opacity: 0.6;
        cursor: pointer;
    }
}
.input-group-form,.search-submit-btn,.search-type-right {
    display: flex;
    align-items: center !important;
}
.search-micro{
    margin-right: 12px;
}
.search-micro,.search-camera>a,.search-camera>a:hover {
    cursor: pointer;
    color: var(--primary) ;
}
@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}