.selloff {
    border: 3px solid rgb(34, 101, 105);
    position: absolute;
    background-color: #fff;
    margin-top: 12%;
}
.product-item {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.22);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.22);
}
.update-success {
    color: #37e32a;
}
.update-icon {
    i {
        padding: 4px;
        font-size: 20px;
    }
    i:hover {
        cursor: pointer;
        background-color: rgb(225, 245, 219);
    }
    i:nth-child(1) {
        color: #f7b511;
        margin-right: 20px;
    }
    i:nth-child(2) {
        color: #eb4134;
    }
}
